<ul class="user-container">
    <% @users.each do |user| %>
    <li class="user">
        <div class="user__icon">
            <% if user.image? %>                                                              
                <%= image_tag user.image.thumb.url %>
            <% else %>
                <%= image_tag "default_user.png", class: "default-img" %>
            <% end %>
        </div>
        <div class="user__name">
            <%= user.name %>
        </div>
        <div class="relationships-area">
            <%= render 'relationships/follow_button', user: user %>
        </div>
    </li>
    <% end %>
</ul>